.vscode
MapDriver.dSYM/
.DS_Store
bin
.vs
COMP345/COMP345/COMP345.vcxproj
*.vcxproj

Assignment2-345.sln
x64/Debug/Assignment2-345.exe
x64/Debug/Assignment2-345.exe.recipe
x64/Debug/Assignment2-345.ilk
x64/Debug/Assignment2-345.log
x64/Debug/Assignment2-345.pdb
x64/Debug/Assignment2-345.tlog/Assignment2-345.lastbuildstate
x64/Debug/Assignment2-345.tlog/CL.command.1.tlog
x64/Debug/Assignment2-345.tlog/CL.read.1.tlog
x64/Debug/Assignment2-345.tlog/CL.write.1.tlog
x64/Debug/Assignment2-345.tlog/link.command.1.tlog
x64/Debug/Assignment2-345.tlog/link.read.1.tlog
x64/Debug/Assignment2-345.tlog/link.write.1.tlog
x64/Debug/Assignment2-345.vcxproj.FileListAbsolute.txt
x64/Debug/Cards.obj
x64/Debug/CardsDriver.obj
x64/Debug/EngineDriver.obj
x64/Debug/GameEngine.obj
x64/Debug/LoggingObserver.obj
x64/Debug/main.obj
x64/Debug/Map.obj
x64/Debug/MapDriver.obj
x64/Debug/Orders.obj
x64/Debug/OrdersDriver.obj
x64/Debug/Player.obj
x64/Debug/PlayerDriver.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
Assignment2-345.vcxproj.filters
Assignment2-345.vcxproj.user
x64/Debug/CommandProcessing.obj
*.log
x64/Debug/Assignment2-345.tlog/link-cvtres.read.1.tlog
x64/Debug/Assignment2-345.tlog/link-cvtres.write.1.tlog
x64/Debug/Assignment2-345.tlog/link-rc.read.1.tlog
x64/Debug/Assignment2-345.tlog/link-rc.write.1.tlog
x64/Debug/Assignment2-345.tlog/link.read.2.tlog
x64/Debug/Assignment2-345.tlog/unsuccessfulbuild
